body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./image/background_img.jpg);
    background-size: 100%;
}
.clear{
    clear: both;
}
.menu{
    float: right;
    color: white;
    animation-name: animation_menu;
    animation-duration: 1s;
}
.menu ul li{
    display: inline;
    font-size: 13px;
    padding: 10px 10px;
    font-weight: bold;
}
.menu ul li a{
    text-decoration: none;
    color: white;
}
.menu ul li:hover{
    background-color: rgb(199, 199, 199);
    transition-duration: 0.7s;
}
.menu ul li:first-child{
    border: 1px solid white;
}
.introduce{
    width: 95%;
    margin: auto;
}
.introduce1{
    margin-top: 60px;
    width: 30pxS;
    float: left;

}
.introduce1_img img{
    border: 20px solid rgb(85, 80, 80);

    
}
.introduce1_name{
    margin-top: -5px;
    padding: 10px 5px;
    padding-top: 15px;
    background-color: rgb(85, 80, 80);
    width: 330px;
    text-align: center;
    color: black;

}
.introduce1_name p:first-child{
    margin-top: -5px;
    font-size: 25px;
    color: rgb(250, 250, 250);
}
.p1{
    font-size: 15px;
    margin: 0 12px;
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 15px 0px;
    background-color: rgb(192, 188, 188);
}
.introduce_information{
    float: right;
    width: 67%;
    margin-top: 70px;
    color: white;
    font-weight: bold;
}
.hello p{
    width: 100px;
    height: 45px;
    line-height: 45px;
    font-size: 25px;
    text-align: center;
    background-color: rgb(44, 41, 41);
    animation-name: animation_hello;
    animation-duration: 4s;
}
.download{
    width: 250px;
    text-align: center;
    border: 1px solid white;
    animation: animation_download;
    animation-duration: 3s;
    transition: all .5s;
    position: relative;
}
.download a{
    text-decoration: none;
    color: white;
}
.download:hover{
    background-color: rgb(172, 172, 172);
}
.p2{
    animation: p2;
    animation-duration: 1s;
}
.p3{
    animation: p3;
    animation-duration: 1.5s;
}
.p4{
    animation: p4;
    animation-duration: 2s;
}

@keyframes animation_menu {
    0% {
    opacity: 0;
    transform: translate(0, -50px); }
  100% {
    transform: translate(0, 0); } 
}
 
@keyframes animation_hello {
    0% {
        opacity: 0;
        transform: translate(0, 0px); }
      100% {
        transform: translate(0, 0); }  
}
@keyframes p2 {
    0% {
      opacity: 0;
      transform: translateX(100px); }
    50% {
      transform: translateX(-20px); }
    100% {
      transform: translate(0, 0); } 
}
@keyframes p3 {
    0% {
      opacity: 0;
      transform: translateX(100px); }
    50% {
      transform: translateX(-20px); }
    100% {
      transform: translate(0, 0); } 
}
@keyframes p4 {
    0% {
      opacity: 0;
      transform: translateX(100px); }
    50% {
      transform: translateX(-20px); }
    100% {
      transform: translate(0, 0); } 
}
@keyframes animation_download {
    0% {
    opacity: 0;
    transform: translate(0, 50px); }
  100% {
    transform: translate(0, 0); } 
}
